@mixin dropdown-animation($translate-x, $end-y, $margin-top) {
    transform: translateX($translate-x) translateY(50px);
    margin-top: $margin-top;
    transition: all .3s ease-out;
}

.navbar {
    height: 125px;
    background-color: $green-900;

    &-logo {
        width: 11rem;
        height: auto;
        display: block;
        margin-right: 1rem;
    }

    &-item {
        padding: 0 .5rem;
        display: flex;
        align-items: center;
        margin-right: .5rem;
        position: relative;
        height: 100%;
        width: auto;

        .navbar-link {
            color: $white;
            text-transform: capitalize;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: .5rem;
        }

        .active-link.navbar-link {
            color: $green-200;
        }

        .custom-dropdown-menu {
            position: absolute;
            background-color: $white;
            z-index: 10;
            border-radius: .25rem;
            display: flex;
            align-items: start;
            top: 100%;

            &.small-menu {
                gap: 1.4rem;
                padding: 2rem 1.5rem;
                visibility: hidden;
                left: 50%;
                transform: translateX(-50%) translateY(50px);
                transition: all .3s ease-out;
                margin-top: 1rem;
            }

            &.mega-menu {
                visibility: hidden;
                left: 0;
                transform: translateX(0) translateY(30px);
                transition: all .3s ease-out;
                margin: 0;
            }
        }
        .dropdown-sub-trigger {
            position: relative; 
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-wrap: nowrap;
            list-style: none;
            gap: 100px;
            padding: 15px 10px 15px 30px ;
        
            .dropdown-submenu{
                position: absolute;
                top: 0; 
                left: 250px;
          display: flex;
          flex-direction: column;
       
          justify-content: center;
          gap: 15px;
                min-width: 200px;
                background: #fff;
                z-index: 99; 
                visibility: hidden;
                opacity: 0;
                transition: all .3s ease;
                margin: 0;
                padding: 25px ;
                list-style: none;
                border: 1px solid #eee;
                border-radius: .25rem;
                
            }
        
            &:hover > .dropdown-submenu {
                visibility: visible;
                opacity: 1;
                transform: translateX(0);
            }
        }
        &:hover {
            .small-menu {
                visibility: visible;
                transform: translateX(-50%) translateY(30px);
            }

            .mega-menu {
                visibility: visible;
                transform: translateX(0) translateY(0);
            }
        }

        .custom-dropdown-menu>* {
            transform: translateY(30px);
            opacity: 0;
            transition: transform .7s ease-out, opacity .9s ease-out;
        }

        &:hover {
            .custom-dropdown-menu>* {
                transform: translateY(0px);
                opacity: 1;
            }
        }
    }
}