.top-trending {
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
    padding: 0 60px;

    &_content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 30px;

        .detox-juice-bg-img {
            width: 100%;
        }

        .detox-juice-img {
            position: absolute;
            left: 0;
            top: 20%;
            width: 100%;
        }
    }
    .top-trending-card{
        position: relative;
        border-radius: 20px;
        border: .8px solid rgb(194, 194, 194);
        min-height: 220px;
        padding: 16px;
        background-color: $white;
        box-shadow: $sm-shadow;
        cursor: pointer;
    
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: $green-200;
            transform: rotate(0);
            width: 100%;
            height: 100%;
            z-index: -5 !important;
            transition: transform .3s ease;
            border-radius: 1rem;
        }
    
        &:hover::after {
            transform: rotate(5deg);
            background-color: $green-200;
        }
    
        .top-trending-images {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            grid-column: 1/6;
            z-index: 1;
    
            .top-trending-img {
                width: 90%;
                transition: opacity .8s ease;
                position: absolute;
                top: 0;
                left: 20px;
            }
    
            .top-trending-img:nth-child(2) {
                opacity: 0;
            }
        }
    
        .toolkit-wrapper {
            position: absolute;
            bottom: 2.5rem;
            right: 3rem;
            z-index: 5;
            display: flex;
            flex-direction: row-reverse;
            gap: 10px;
    
            .toolkit-container {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-direction: column;
    
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    opacity: 0;
                    transform: translateY(30px);
                }
    
                &:nth-child(1) {
                    transition: all .4s ease;
                }
    
                &:nth-child(2) {
                    transition: all .6s ease;
                }
    
                &:nth-child(3) {
                    transition: all .8s ease;
                }
    
                .toolkit-btn {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    background-color: $light-gray-100;
                    transition: all .3s ease-out;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    order: 1;
    
                    &:hover {
                        background-color: $green-500;
                    }
                }
    
    
            }
        }
    
        &:hover {
    
            .toolkit-container:nth-child(1),
            .toolkit-container:nth-child(2),
            .toolkit-container:nth-child(3) {
                opacity: 1;
                transform: translateY(0px);
            }
    
        }
    
        &:hover {
            .top-trending-img:nth-child(1) {
                opacity: 0;
            }
    
            .top-trending-img:nth-child(2) {
                opacity: 1;
            }
        }
    
        @media screen and (max-width:767px) {
            min-height: 300px;
            gap: 5px;
    
            .top-trending-images {
                min-height: 200px;
    
                .top-trending-img {
                    width: 70%;
                    left: 10%;
                }
            }
    
            .toolkit-wrapper {
                justify-content: start;
                bottom: 2rem;
                left: 1rem;
    
                .toolkit-container:nth-child(1) {
                    display: none;
                }
            }
    
        }
    }
    
    
    @media screen and (max-width:1200px) {
        padding: 0 10px;
    }

    @media screen and (max-width:880px) {
        justify-items: center;

        &_content {
            grid-template-columns: 1fr;
        }

        .detox-juice-bg-img {
            width: 50%;
        }

        .detox-juice-img {
            top: 30%;
            width: 40%;
            left: 20%;
        }
    }

    @media screen and (max-width:500px) {


        .detox-juice-bg-img {
            width: 80%;
        }

        .detox-juice-img {
            top: 40%;
            width: 60%;
            left: 20%;
        }
    }
}