.shake-item-cont {
    &:hover .shake-item {
        animation: shake-animation .8s ease infinite;
    }
}
.shake-item-cont-2{
    &:hover .shake-item-2 {
        animation: shake-animation-2 .8s ease ;
    }
}

@keyframes shake-animation {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(3px);
    }

    50% {
        transform: translateX(-3px);
    }

    75% {
        transform: translateX(3px);
    }

    100% {
        transform: translateX(0rem);
    }

}
@keyframes shake-animation-2 {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

.search-cont {
    .floating-label {
        top: 18px;
        left: 11px;
        transition: all .3s ease;
    }

    .form-control:focus+.floating-label {
        top: 2px;
        font-size: 10px;
        margin-bottom: 20px;
    }

    .form-control:focus {
        outline: none !important;
        border: none !important;
    }
}