.shake-item-container {
    .shake-item-x {
        width: 35px;
    }

    &:hover .shake-item-x {
        animation: shake-animation-x .8s ease infinite;
    }
}

.shake-item-container-y {
    &:hover .shake-item-y {
        animation: shake-animation-y .8s ease;
    }
}

@keyframes shake-animation-x {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(3px);
    }

    50% {
        transform: translateX(-3px);
    }

    75% {
        transform: translateX(3px);
    }

    100% {
        transform: translateX(0rem);
    }

}

@keyframes shake-animation-y {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }

}