.shake-item{
    width: 10rem;
    height: 10rem;
    background-color: red;
    &:hover{
        animation:shake-animation .8s ease infinite;
    }
}
@keyframes shake-animation {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(1rem);
    }
    50%{
        transform: translateX(-1rem);
    }
    75%{
        transform: translateX(1rem);
    }
    100%{
        transform: translateX(0rem);
    }
   
}
.search-cont{
    .floating-label{
        top: 18px;
        left:11px;
        transition: all .3s ease;
    }
    .form-control:focus + .floating-label{
           top: 2px;
          font-size: 10px;
          margin-bottom: 20px;
    }
   .form-control:focus{
    outline: none !important;
    border:none !important;
   }
}