.text-green-200-hover {
    transition: color .2s ease-in;

    &:hover {
        color: $green-200;
    }
}

.bg-green-200-hover {
    cursor: pointer;
    transition: background-color .2s ease-in;

    &:hover {
        background-color: $green-200;
    }
}

.text-green-500-hover {
    transition: color .2s ease-in;

    &:hover {
        color: $green-500 !important;
    }
}


.bg-green-500-hover {
    transition: background-color .2s ease-out;

    &:hover {
        background-color: $green-500 !important;
        color: $white;
    }
}

.bg-green-500-hover {
    transition: background-color .3s ease-out, transform .3s ease-out;
    cursor: pointer;

    &:hover {
        background-color: $green-500 !important;
        color: $white;
        transform: scale(1.05);
    }
}

.text-light-gray-hover {
    transition: color .3s ease-out;
    cursor: pointer;

    &:hover {
        color: $black !important;
    }
}
@mixin scale-effect{
    overflow: hidden;
    .scale-item {
        height: 100%;
        transition: transform .3s ease-out;
      transform:scale(1.30);
    }
    &:hover .scale-item {
        transform: scale(1.35);
    }
}
.scale-effect {
@include scale-effect;
}

.bg-green-900-hover {
    transition: background-color .2s ease-in;

    .shop-now-icon-cont {
        background-color: $white;
        transition: background-color .2s ease-in;
    }

    &:hover {
        background-color: $green-900;

        .shop-now-icon-cont {
            background-color: $green-200;
        }
    }

}

.box-shadow-hover {
    cursor: pointer;
    transition: box-shadow .3s ease;

    &:hover {
        box-shadow: 12px 5px $green-200, rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
        border-radius: 30%;
    }
}

.active-box-shadow {
    box-shadow: 12px 5px $green-200, rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    border-radius: 30%;
}




