//navdaki hoverlar
.text-green-200-hover{
    transition: color .2s ease-in;
&:hover{
    color: $green-200;
}
}
.bg-green-200-hover{
    cursor: pointer;
    transition: background-color .2s ease-in;
    &:hover{
        background-color: $green-200;
    }
}
//top categories
.text-green-500-hover{
    transition: color .2s ease-in;
&:hover{
    color: $green-500;
}
}
// headerdaki slaytın hoverı
.bg-green-500-hover{
    transition: background-color .2s ease-out;
&:hover{
    background-color: $green-500 !important;
    color: $white;
}
}
.scale-effect-hover-cont{
    .scale-item{
       
        transition: transform .3s ease-out;
    }
  
    &:hover .scale-item{
        transform: scale(1.1);
    }
}

.rotate-cont{
    .rotate-dots{
        transform: rotate(0deg);
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
       border: 2px dashed $green-200;
        transition: transform .3s ease-out, border .3s ease-out;
    }
    &:hover .rotate-dots{
        border: 2px dashed $green-500;
        transform: rotate(360deg);
    }
}

.bg-green-900-hover{
    transition: background-color .2s ease-in;
    .shop-now-icon-cont{
        background-color: $white;
        transition: background-color .2s ease-in;
    }
    &:hover{
        background-color: $green-900;
        .shop-now-icon-cont{
            background-color: $green-200;
        }
    }

}

.box-shadow-hover{
    &:hover{
        box-shadow: 12px 5px $green-200;
        border-radius: 30%;
    }
}