// custom attribute generator
$custom: (
    left:("left-1", 5rem),
    top:("top-1", 3rem),
);

@for $i from 1 through length($custom) {
   $property : nth(map-keys($custom), $i); //property
    $value: map-get($custom, $property);//values
    $name: nth($value,1); //1. value
    $property-value: nth($value,2); //2. value
    .#{$name}{
       #{$property}: $property-value;
    }
}
