/* color */
$green-900:#00241B;
$green-500:#016839;
$green-300:#7AC710; //hoverken divlerin arkaasına çapraz gelenin rengi
$green-200:#84D812;//navdaki aktif navitem
$green-100:#CFFFBD;

$blue-900:#0A0F19;
$white:#ffffff;
$black-500:#434343;
$black:#000000;
$font-inter:
"Inter", sans-serif;;

