/* color */
$green-900:#00241B;
$green-700:#072E1A;
$green-600:#00512B;
$green-500:#016839;
$green-300:#7AC710; 
$green-200:#84D812;
$green-150:#D3FF6E;
$green-100:#CFFFBD;
$deals-slider-green:#E9F6D9;
$deals-slider-purple:#E1E4FE;
$deals-slider-pink:#FFE7E6;
$light-gray:#C3C3C3;
$light-gray-100:#ECECEC;
$green-50:#E9F1EF;
$blue-900:#0A0F19;
$blue-200:#E0F2F2;
$white:#ffffff;
$black-500:#434343;
$black:#000000;
$font-inter:
"Inter", sans-serif;
$sm-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$sm-radius: 10px;

