/* color */
$green-900:#00241B;
$green-500:#016839;
$green-300:#7AC710; //hoverken divlerin arkaasına çapraz gelenin rengi
$green-200:#84D812;
$green-100:#CFFFBD;
$blue-900:#0A0F19;
$white:#ffffff;
$font-inter:
"Inter", sans-serif;;