@import './bootstrap.min.css';
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* color */
.bg-green-500 {
  background-color: #016839 !important;
}

.bg-green-200 {
  background-color: #84D812 !important;
}

.bg-green-50 {
  background-color: #E9F1EF !important;
}

.bg-light-gray {
  background-color: #C3C3C3 !important;
}

.bg-blue-200 {
  background-color: #E0F2F2 !important;
}

.bg-light-gray-100 {
  background-color: #ECECEC !important;
}

.text-light-gray {
  color: #C3C3C3 !important;
}

.text-green-500 {
  color: #016839 !important;
}

.text-green-200 {
  color: #84D812 !important;
}

.border-green-500 {
  border: 1px solid #016839 !important;
}

.z-1 {
  z-index: 1 !important;
}

@media screen and (max-width: 767px) {
  .footer.pt-6 {
    padding-top: 15rem;
  }
}

@media screen and (max-width: 767px) {
  .subscribe.p-7 {
    padding: 7rem 1rem;
  }
}

@media screen and (max-width: 900px) {
  .px-6 {
    padding: 0 2rem !important;
  }
}
@media screen and (max-width: 500px) {
  .px-6 {
    padding: 0 1rem !important;
  }
}

@media screen and (max-width: 900px) {
  .mx-6 {
    margin: 0 2rem !important;
  }
}
@media screen and (max-width: 500px) {
  .mx-6 {
    margin: 0 1rem !important;
  }
}

@media screen and (min-width: 767px) {
  .rounded-md-pill {
    border-radius: 20rem !important;
  }
}

@media screen and (max-width: 767px) {
  .w-33 {
    width: 95%;
  }
}

@media screen and (max-width: 1200px) {
  .h-120 {
    height: 25rem !important;
  }
}
@media screen and (max-width: 767px) {
  .h-120 {
    height: auto !important;
  }
}

@media screen and (max-width: 1200px) {
  .w-60 {
    width: 170rem !important;
  }
}
@media screen and (max-width: 767px) {
  .w-60 {
    width: 100% !important;
  }
}

.testimonial-avatars .testimonial-avatar__active {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.testimonial-avatars img:not(.testimonial-avatar__active) {
  width: 4rem !important;
  height: 4rem !important;
  border-radius: 50%;
  opacity: 60%;
}

.video-cont {
  width: 100%;
  height: 100dvh;
  background-size: 100% 100%;
  background-color: white;
  background-attachment: fixed;
}
.video-cont .video-wrapper {
  width: 100%;
  background-attachment: fixed;
  height: 100%;
}
.video-cont .video-wrapper video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  opacity: 1;
  background-attachment: fixed;
}

.text-decoration-line-through {
  text-decoration: line-through !important;
  text-decoration-color: red !important;
}

.outline-dashed {
  border-bottom: 3px dashed #84D812;
}

.translate-y-effect {
  transition: transform 0.3s ease;
}
.translate-y-effect .translate-y-effect:hover {
  transform: translateY(-10px);
}

.subscribe .form-control::-moz-placeholder {
  color: #ffffff;
  font-size: 13px;
}

.subscribe .form-control::placeholder {
  color: #ffffff;
  font-size: 13px;
}

.slider-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}
.slider-pagination .slider-pagination_dot {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-pagination .slider-pagination_dot .slider-pagination_dot-circle {
  width: 0.4rem;
  height: 0.4rem;
  background-color: #84D812;
  border-radius: 50%;
  display: inline-block;
}
.slider-pagination .slider-pagination_dot.slider-pagination_dot-active {
  border: 1px solid #016839;
}
.slider-pagination .slider-pagination_dot.slider-pagination_dot-active > .slider-pagination_dot-circle {
  background-color: #016839;
}

.arrows-container {
  position: absolute;
  top: 25%;
  left: -15%;
  width: 130%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  visibility: visible;
}
.arrows-container .arrow {
  background: #ffffff;
  transition: all 0.3s ease-out;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  padding: 0 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.arrows-container .arrow.arrow-left {
  transform: rotate(90deg);
}
.arrows-container .arrow.arrow-right {
  transform: rotate(-90deg);
}
.arrows-container .arrow .line {
  width: 1px;
  height: 1rem;
  display: inline-block;
  background-color: #000000;
  transition: all 0.4s ease-in-out;
}
.arrows-container .arrow .line.line-1 {
  transform: rotate(45deg);
  margin-bottom: -5px;
}
.arrows-container .arrow .line.line-2 {
  transform: rotate(-45deg);
  margin-left: -12px;
  margin-top: 4px;
}
.arrows-container .arrow:hover {
  background-color: #016839;
  cursor: pointer;
}
.arrows-container .arrow:hover .line-1 {
  transform: rotate(20deg);
  margin-right: 6px;
  margin-top: -3px;
}
.arrows-container .arrow:hover .line-2 {
  transform: rotate(-20deg);
  margin-top: 2px;
}
@media screen and (max-width: 500px) {
  .arrows-container {
    position: absolute;
    top: 25%;
    left: -38%;
    width: 180%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    visibility: visible;
  }
}

.discount,
.sold-out {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 30px;
}

.discount {
  background-color: #D3FF6E;
  gap: 10px;
}

.sold-out {
  background-color: #66AD53;
  justify-content: center;
  color: #ffffff;
  font-size: 10px;
}

.pill-btn_explore {
  width: auto;
  display: flex;
  align-items: center;
  color: #016839;
  text-wrap: nowrap;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ffffff;
  transition: all 0.2s ease-in;
  padding: 6px 10px 6px 30px;
  font-size: 13px;
  border-radius: 60px;
  gap: 20px;
}
@media screen and (max-width: 1000px) {
  .pill-btn_explore {
    padding: 4px 8px 4px 28px;
    font-size: 11px;
  }
}
.pill-btn_explore .icon-container {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #84D812;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 1000px) {
  .pill-btn_explore .icon-container {
    width: 40px;
    height: 40px;
  }
}
.pill-btn_explore:hover {
  color: #ffffff;
  background-color: #016839;
}

.pill-btn_shop {
  width: auto;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-wrap: nowrap;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #016839;
  transition: all 0.2s ease-in;
  padding: 6px 10px 6px 30px;
  font-size: 13px;
  border-radius: 60px;
  gap: 20px;
}
@media screen and (max-width: 1000px) {
  .pill-btn_shop {
    padding: 4px 8px 4px 28px;
    font-size: 11px;
  }
}
.pill-btn_shop .icon-container {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #ffffff;
  color: #016839;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 1000px) {
  .pill-btn_shop .icon-container {
    width: 40px;
    height: 40px;
  }
}
.pill-btn_shop:hover {
  color: #ffffff;
  background-color: #00512B;
}
.pill-btn_shop:hover .icon-container {
  background-color: #84D812;
}

.shake-item-container .shake-item-x {
  width: 35px;
}
.shake-item-container:hover .shake-item-x {
  animation: shake-animation-x 0.8s ease infinite;
}

.shake-item-container-y:hover .shake-item-y {
  animation: shake-animation-y 0.8s ease;
}

@keyframes shake-animation-x {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0rem);
  }
}
@keyframes shake-animation-y {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.text-green-200-hover {
  transition: color 0.2s ease-in;
}
.text-green-200-hover:hover {
  color: #84D812;
}

.bg-green-200-hover {
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.bg-green-200-hover:hover {
  background-color: #84D812;
}

.text-green-500-hover {
  transition: color 0.2s ease-in;
}
.text-green-500-hover:hover {
  color: #016839 !important;
}

.bg-green-500-hover {
  transition: background-color 0.2s ease-out;
}
.bg-green-500-hover:hover {
  background-color: #016839 !important;
  color: #ffffff;
}

.bg-green-500-hover {
  transition: background-color 0.3s ease-out, transform 0.3s ease-out;
  cursor: pointer;
}
.bg-green-500-hover:hover {
  background-color: #016839 !important;
  color: #ffffff;
  transform: scale(1.05);
}

.text-light-gray-hover {
  transition: color 0.3s ease-out;
  cursor: pointer;
}
.text-light-gray-hover:hover {
  color: #000000 !important;
}

.scale-effect {
  overflow: hidden;
}
.scale-effect .scale-item {
  height: 100%;
  transition: transform 0.3s ease-out;
  transform: scale(1.3);
}
.scale-effect:hover .scale-item {
  transform: scale(1.35);
}

.bg-green-900-hover {
  transition: background-color 0.2s ease-in;
}
.bg-green-900-hover .shop-now-icon-cont {
  background-color: #ffffff;
  transition: background-color 0.2s ease-in;
}
.bg-green-900-hover:hover {
  background-color: #00241B;
}
.bg-green-900-hover:hover .shop-now-icon-cont {
  background-color: #84D812;
}

.box-shadow-hover {
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.box-shadow-hover:hover {
  box-shadow: 12px 5px #84D812, rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  border-radius: 30%;
}

.active-box-shadow {
  box-shadow: 12px 5px #84D812, rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  border-radius: 30%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

p {
  margin: 0 !important;
}

.text {
  color: #434343;
  font-size: 16px;
  line-height: 1.5rem;
}

.sm-text {
  color: #434343;
  font-size: 13px;
  line-height: 1.8rem;
}

.xs-text {
  color: #434343;
  font-size: 10px;
  line-height: 1.8rem;
}

.nav-text.active {
  color: #84D812 !important;
}
.nav-text {
  font-weight: 500;
  font-size: 13px;
}

.md-bold-text {
  color: #434343;
  font-size: 0.9rem;
  font-weight: 400;
  transition: color 0.3s ease;
}
.md-bold-text:hover {
  color: #016839;
}

.sm-bold-title {
  font-size: 1.1rem;
  color: #000000;
}

.section-title {
  font-size: 34px;
  text-transform: capitalize;
  color: black;
  font-weight: 700;
}

.section-subtitle {
  font-size: 16px;
  color: #016839;
  font-weight: 600;
  margin-bottom: 15px;
}

.navbar-bottom-tablet {
  display: none !important;
}
.navbar-bottom-tablet .navbar-bottom-button {
  background-color: #ffffff !important;
  border: none;
}
.navbar-bottom-tablet .navbar-bottom-button.active > i {
  color: #84D812;
}

.navbar {
  height: 125px;
  background-color: #00241B;
  padding: 0 2.5rem;
}
.navbar-tablet {
  display: none !important;
}
.navbar-desktop {
  display: flex !important;
}
.navbar-logo {
  width: 10rem;
  height: auto;
  display: block;
  margin-right: 0.5rem;
}
.navbar .main-navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar-item {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: auto;
}
.navbar-item .navbar-link {
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.navbar-item .active-link.navbar-link {
  color: #84D812;
}
.navbar-item .custom-dropdown-menu {
  position: absolute;
  background-color: #ffffff;
  z-index: 10;
  border-radius: 0.25rem;
  display: flex;
  align-items: start;
  top: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbar-item .custom-dropdown-menu.small-menu {
  gap: 1.4rem;
  padding: 2rem 1.5rem;
  visibility: hidden;
  left: 50%;
  transform: translateX(-50%) translateY(50px);
  transition: all 0.3s ease-out;
  margin-top: 1rem;
}
.navbar-item .custom-dropdown-menu.mega-menu {
  visibility: hidden;
  left: 0;
  transform: translateX(0) translateY(30px);
  transition: all 0.3s ease-out;
  margin: 0;
}
.navbar-item .dropdown-sub-trigger {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-wrap: nowrap;
  list-style: none;
  gap: 100px;
  padding: 15px 10px 15px 30px;
  cursor: pointer;
}
.navbar-item .dropdown-sub-trigger .dropdown-submenu {
  position: absolute;
  top: 0;
  left: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  min-width: 200px;
  background: #fff;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  margin: 0;
  padding: 25px;
  list-style: none;
  border: 1px solid #eee;
  border-radius: 0.25rem;
}
.navbar-item .dropdown-sub-trigger:hover > .dropdown-submenu {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.navbar-item:hover .small-menu {
  visibility: visible;
  transform: translateX(-50%) translateY(30px);
}
.navbar-item:hover .mega-menu {
  visibility: visible;
  transform: translateX(0) translateY(0);
}
.navbar-item .custom-dropdown-menu > * {
  transform: translateY(30px);
  opacity: 0;
  transition: transform 0.7s ease-out, opacity 0.9s ease-out;
}
.navbar-item:hover .custom-dropdown-menu > * {
  transform: translateY(0px);
  opacity: 1;
}
.navbar .search-container {
  height: 100%;
  width: 12rem;
  height: 50px;
  position: relative;
}
.navbar .search-container .floating-label {
  top: 10px;
  left: 11px;
  transition: all 0.3s ease;
}
.navbar .search-container .form-control:focus + .floating-label {
  top: 2px;
  font-size: 10px;
  margin-bottom: 20px;
}
.navbar .search-container .form-control:focus {
  outline: none !important;
  border: none !important;
}
.navbar .search-input {
  border-top-right-radius: 20rem !important;
  border-bottom-right-radius: 20rem !important;
}
.navbar .navbar-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}
.navbar .search-btn {
  background-color: #016839;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  position: absolute;
  right: 2px;
  top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}
.navbar .search-btn:hover {
  background-color: #84D812;
}
.navbar .social-logo {
  width: 55px;
  height: 55px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 0.5px solid rgba(255, 255, 255, 0.384);
}
.navbar .social-logo:hover {
  background-color: #84D812;
}
.navbar .badge-count {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  position: absolute;
  font-size: 12px;
  background-color: #016839;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -4px;
  right: -4px;
  color: #ffffff;
}
@media screen and (max-width: 1350px) {
  .navbar .navbar-actions {
    width: 48%;
  }
}
@media screen and (max-width: 1250px) {
  .navbar {
    padding: 0 1rem;
  }
  .navbar-logo {
    width: 10rem;
  }
  .navbar-item {
    padding: 0;
  }
  .navbar-item .navbar-link {
    font-size: 0.8rem;
  }
  .navbar .navbar-actions {
    width: 50%;
  }
}
@media screen and (max-width: 1200px) {
  .navbar .navbar-actions {
    width: 40%;
  }
  .navbar .search-input {
    border-top-left-radius: 20rem !important;
    border-bottom-left-radius: 20rem !important;
  }
}
@media screen and (max-width: 1024px) {
  .navbar .navbar-actions {
    width: 50%;
  }
  .navbar .navbar-link {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .navbar .navbar-actions {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .navbar {
    height: 60px;
    background-color: #ffffff;
  }
  .navbar-logo {
    width: 7rem;
  }
  .navbar-tablet {
    display: flex !important;
  }
  .navbar-desktop {
    display: none !important;
  }
  .navbar-bottom {
    display: none !important;
  }
  .navbar .badge-count {
    top: -8px;
    right: -8px;
  }
  .navbar .navbar-bottom-tablet {
    display: inline-flex !important;
  }
}

@media screen and (max-width: 767px) {
  .navbar-bottom-tablet {
    display: inline-flex !important;
  }
}
.navbar-bottom {
  height: 50px;
  background-color: #CFFFBD;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}
@media screen and (max-width: 1050px) {
  .navbar-bottom {
    padding: 0 10px;
  }
}
@media screen and (max-width: 900px) {
  .navbar-bottom {
    flex-direction: column;
  }
}

.top-categories {
  width: 30%;
  border-radius: 10px;
  background-color: #E9F1EF;
  overflow: hidden;
  max-height: 100dvh;
}
.top-categories .top-categories_title-pattern {
  width: 55px;
}
.top-categories .shake-item-x {
  width: 35px;
}
.top-categories .category-promo {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.top-categories .category-promo .promo-pattern {
  position: absolute;
  z-index: 2;
  width: 150%;
  bottom: 20px;
  left: 0;
  scale: 1.4;
  -webkit-user-drag: none;
}
.top-categories .category-promo .promo-image {
  position: absolute;
  bottom: -60px;
  width: 80%;
  max-width: 250px;
  z-index: 1;
  -webkit-user-drag: none;
}
@media screen and (max-width: 1023px) {
  .top-categories {
    display: none;
  }
}

.hero-slide {
  width: 70%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  display: flex;
}
@media screen and (max-width: 1023px) {
  .hero-slide {
    width: 100%;
  }
}

.top-offers_card-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 30px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}
.top-offers_card-container .top-offers_card {
  overflow: hidden;
  position: relative;
  border-radius: 10%;
  overflow: hidden;
}
.top-offers_card-container .top-offers_card .scale-item {
  height: 100%;
  transition: transform 0.3s ease-out;
  transform: scale(1.3);
}
.top-offers_card-container .top-offers_card:hover .scale-item {
  transform: scale(1.35);
}
.top-offers_card-container .top-offers_card-image {
  border-radius: inherit;
}
.top-offers_card-container .top-offers_card .partial-circle {
  transform: rotate(48deg);
  background-color: #ffffff;
  border-radius: 30%;
  width: 23rem;
  height: 23rem;
  position: absolute;
  top: 15.5rem;
  left: -4.6rem;
}
.top-offers_card-container .top-offers_card .rotate-container {
  cursor: pointer;
}
.top-offers_card-container .top-offers_card .rotate-container .rotate-dots {
  transform: rotate(0deg);
  padding: 4px;
  position: absolute;
  top: 12rem;
  left: 5.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px dashed #84D812;
  transition: transform 0.3s ease-out, border 0.3s ease-out;
}
.top-offers_card-container .top-offers_card .rotate-container:hover .rotate-dots {
  border: 2px dashed #016839;
  transform: rotate(360deg);
}
.top-offers_card-container .top-offers_card .rotate-container .card-badge {
  background-color: #84D812;
  border-radius: 50%;
  transition: background-color 0.2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 12.5rem;
  left: 6rem;
}
.top-offers_card-container .top-offers_card .rotate-container .card-badge:hover {
  background-color: #016839;
}
@media screen and (max-width: 1338px) {
  .top-offers_card-container {
    grid-template-columns: repeat(4, auto);
  }
  .top-offers_card-container .top-offers_card:nth-child(5) {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .top-offers_card-container {
    grid-template-columns: repeat(3, auto);
  }
  .top-offers_card-container .top-offers_card:nth-child(4) {
    display: none !important;
  }
}
@media screen and (max-width: 750px) {
  .top-offers_card-container {
    grid-template-columns: repeat(2, auto);
    gap: 20px;
  }
  .top-offers_card-container .top-offers_card:nth-child(3) {
    display: none !important;
  }
}

.deals-pattern {
  width: 55px;
}

.deals-slider-wrapper {
  transform: translateX(-58%);
  display: grid;
  grid-template-columns: repeat(3, 70%);
  gap: 20px;
  position: relative;
  margin-top: 40px;
}
.deals-slider-wrapper:hover .arrows-container {
  visibility: visible;
}
.deals-slider-wrapper .arrows-container {
  width: 70%;
  top: 44%;
  left: 72%;
  visibility: hidden;
  transition: visibility 0.4s ease;
}
.deals-slider-wrapper .deals-slider-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  border-radius: 50rem;
  height: 30rem;
}
.deals-slider-wrapper .deals-slider-item:nth-child(2) {
  background-color: #E1E4FE;
}
.deals-slider-wrapper .deals-slider-item:nth-child(3) {
  background-color: #E9F6D9;
}
.deals-slider-wrapper .deals-slider-item:nth-child(4) {
  background-color: #FFE7E6;
}
@media screen and (max-width: 767px) {
  .deals-slider-wrapper .deals-slider-item {
    height: auto;
    width: 100%;
    flex-direction: column;
    border-radius: 10px;
  }
}
@media screen and (max-width: 990px) {
  .deals-slider-wrapper {
    transform: translateX(-98%);
    gap: 40px;
    grid-template-columns: repeat(3, 95%);
  }
  .deals-slider-wrapper .arrows-container {
    width: 95%;
    left: 101%;
    visibility: visible;
  }
}
@media screen and (max-width: 600px) {
  .deals-slider-wrapper {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 500px) {
  .deals-slider-wrapper {
    transform: translateX(-101%);
  }
  .deals-slider-wrapper .arrows-container {
    width: 100%;
    left: 104%;
  }
}
@media screen and (max-width: 400px) {
  .deals-slider-wrapper {
    transform: translateX(-104%);
  }
}
@media screen and (max-width: 300px) {
  .deals-slider-wrapper {
    transform: translateX(-106%);
  }
}

.product-features {
  margin: 13rem 0 0 0;
  padding: 0 100px;
}
@media screen and (max-width: 1000px) {
  .product-features {
    padding: 0 20px;
  }
}
.product-features .row div[class*=col-] {
  margin-bottom: 9rem;
}
.product-features .row div[class*=col-] .feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -6rem;
}
.product-features .row div[class*=col-] .feature-card_icon-wrapper {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffffff;
}
.product-features .row div[class*=col-] .feature-card_icon-wrapper::before {
  content: " ";
  position: absolute;
  left: -2px;
  top: -5px;
  width: 13rem;
  height: 100%;
  border-radius: 13rem;
  border: 2px dashed #84D812;
  clip-path: inset(50% 0 0 0);
}
.product-features .row div[class*=col-] .feature-card_icon-wrapper .feature-card__icon-container {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
}
.product-features .row div[class*=col-] .feature-card_icon-wrapper .feature-card__icon-container .feature-card__icon-halo {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 25px;
  transition: all 0.3s linear;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%2384D812' stroke-width='2' stroke-dasharray='7%2c 10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  opacity: 0;
}
.product-features .row div[class*=col-] .feature-card_icon-wrapper .feature-card__icon-container:hover .feature-card__icon-halo {
  opacity: 1;
  animation: snipper 6s infinite linear;
}
.product-features .row div[class*=col-] .feature-card_icon-wrapper .feature-card__icon-img {
  width: 30%;
}
.product-features .row div[class*=col-] .dashed-line {
  width: 100%;
  border: 1px dashed #84D812;
  position: absolute;
}
@media screen and (max-width: 767px) {
  .product-features .row div[class*=col-] .dashed-line {
    width: 95%;
  }
}
.product-features .row div[class*=col-]:nth-child(2) .feature-card_icon-wrapper::before {
  clip-path: inset(0 0 50% 0) !important;
}

@keyframes snipper {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.farm-products_pattern {
  position: absolute;
  left: 0;
  top: 10rem;
}
.farm-products .farm-products_category-image {
  width: 30px;
}
.farm-products .farm-products_category-image:not(.active) {
  visibility: hidden;
}
.farm-products .fresh-product-card {
  cursor: pointer;
  max-height: 500px;
  min-height: 500px;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.farm-products .fresh-product-card .farm-product-images {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  margin-top: 20px;
}
.farm-products .fresh-product-card .farm-product-images .farm-product-img {
  width: 90%;
}
.farm-products .fresh-product-card .farm-product-images .farm-product-img:nth-child(2) {
  transition: opacity 0.8s ease;
  position: absolute;
  opacity: 0;
}
.farm-products .fresh-product-card .farm-product-images .farm-product-img:nth-child(1) {
  transition: opacity 0.8s ease;
}
.farm-products .fresh-product-card:hover .farm-product-img:nth-child(1) {
  opacity: 0;
  transition: opacity 0.8s ease;
}
.farm-products .fresh-product-card:hover .farm-product-img:nth-child(2) {
  opacity: 1;
}
.farm-products .fresh-product-card .trending-img-2 {
  top: 6rem !important;
  left: 0rem !important;
}
.farm-products .fresh-product-card .toolkit-wrapper {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}
.farm-products .fresh-product-card .toolkit-wrapper .toolkit-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 8px;
}
.farm-products .fresh-product-card .toolkit-wrapper .toolkit-container:nth-child(1), .farm-products .fresh-product-card .toolkit-wrapper .toolkit-container:nth-child(2) {
  opacity: 0;
  transform: translateY(-20px);
}
.farm-products .fresh-product-card .toolkit-wrapper .toolkit-container:nth-child(1) {
  transition: all 0.4s ease;
}
.farm-products .fresh-product-card .toolkit-wrapper .toolkit-container:nth-child(2) {
  transition: all 0.5s ease;
}
.farm-products .fresh-product-card .toolkit-wrapper .toolkit-container .toolkit-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #ECECEC;
  transition: all 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
}
.farm-products .fresh-product-card .toolkit-wrapper .toolkit-container .toolkit-btn:hover {
  background-color: #016839;
}
.farm-products .fresh-product-card .toolkit-wrapper .toolkit-container .toolkit-card {
  background-color: #016839;
  border-radius: 4px;
  padding: 5px 12px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.5s ease;
  pointer-events: none;
  position: absolute;
  right: 10px;
}
.farm-products .fresh-product-card .toolkit-wrapper .toolkit-container .toolkit-arrow {
  width: 12px;
  height: 12px;
  background-color: #016839;
  position: absolute;
  rotate: 45deg;
  right: -3px;
  top: 12px;
  z-index: -1;
}
.farm-products .fresh-product-card .toolkit-wrapper .toolkit-container .toolkit-btn:hover ~ .toolkit-card {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.farm-products .fresh-product-card .toolkit-wrapper .toolkit-container:nth-child(1) .toolkit-card {
  transition-delay: 0.05s;
}
.farm-products .fresh-product-card .toolkit-wrapper .toolkit-container:nth-child(2) .toolkit-card {
  transition-delay: 0.1s;
}
.farm-products .fresh-product-card .toolkit-wrapper .toolkit-container:nth-child(3) .toolkit-card {
  transition-delay: 0.15s;
}
.farm-products .fresh-product-card:hover .toolkit-container:nth-child(1),
.farm-products .fresh-product-card:hover .toolkit-container:nth-child(2) {
  opacity: 1;
  transform: translateY(0px);
}

.about-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.about-item-content .about-item-title {
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
}

.about-left-arrow {
  width: 7rem;
  position: absolute;
  top: 25%;
  left: 0;
}

.about-main-img {
  width: 90%;
}

.about-right-arrow {
  width: 7rem;
  position: absolute;
  bottom: 10%;
  right: 0;
}

.phone-icon-box {
  width: 49px;
  height: 49px;
  background-color: #016839;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .about-left-arrow {
    width: 6rem;
    left: -25px;
  }
  .about-right-arrow {
    width: 6rem;
    right: -40px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .about-main-img {
    width: 60%;
  }
}
.smoothies {
  margin: 8rem 0;
  padding: 0 5rem;
}
.smoothies .smoothie-container {
  border-radius: 10px;
  position: relative;
}
.smoothies .smoothie-container:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  animation: height-animation 2s ease infinite;
}
.smoothies .smoothie-container:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  background-color: #ffffff;
  animation: width-animation 2s ease infinite;
}
.smoothies .smoothie-container .smoothie-content {
  position: absolute;
  z-index: 1;
  left: 30px;
  top: 35%;
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .smoothies {
    margin: 5rem 0;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 767px) {
  .smoothies {
    margin: 5rem 0;
    padding: 0 1rem;
  }
}

@keyframes height-animation {
  0% {
    padding: 15rem 0;
    opacity: 0%;
    top: 0%;
  }
  50% {
    top: 50%;
    padding: 0.1px 0;
    opacity: 50%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes width-animation {
  0% {
    padding: 0 20rem;
    opacity: 0%;
    left: 0%;
  }
  50% {
    left: 50%;
    padding: 0 0.1px;
    opacity: 50%;
  }
  100% {
    opacity: 0%;
  }
}
.top-trending {
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
  padding: 0 60px;
  background-color: white;
}
.top-trending_content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}
.top-trending_content .detox-juice-bg-img {
  width: 100%;
}
.top-trending_content .detox-juice-img {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
}
.top-trending .top-trending-card {
  position: relative;
  border-radius: 20px;
  border: 0.8px solid rgb(194, 194, 194);
  min-height: 220px;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}
.top-trending .top-trending-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #84D812;
  transform: rotate(0);
  width: 100%;
  height: 100%;
  z-index: -5 !important;
  transition: transform 0.3s ease;
  border-radius: 1rem;
}
.top-trending .top-trending-card:hover::after {
  transform: rotate(5deg);
  background-color: #84D812;
}
.top-trending .top-trending-card .top-trending-images {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  grid-column: 1/6;
  z-index: 1;
}
.top-trending .top-trending-card .top-trending-images .top-trending-img {
  width: 90%;
  transition: opacity 0.8s ease;
  position: absolute;
  top: 0;
  left: 20px;
}
.top-trending .top-trending-card .top-trending-images .top-trending-img:nth-child(2) {
  opacity: 0;
}
.top-trending .top-trending-card .toolkit-wrapper {
  position: absolute;
  bottom: 2.5rem;
  right: 3rem;
  z-index: 5;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.top-trending .top-trending-card .toolkit-wrapper .toolkit-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.top-trending .top-trending-card .toolkit-wrapper .toolkit-container:nth-child(1), .top-trending .top-trending-card .toolkit-wrapper .toolkit-container:nth-child(2), .top-trending .top-trending-card .toolkit-wrapper .toolkit-container:nth-child(3) {
  opacity: 0;
  transform: translateY(30px);
}
.top-trending .top-trending-card .toolkit-wrapper .toolkit-container:nth-child(1) {
  transition: all 0.4s ease;
}
.top-trending .top-trending-card .toolkit-wrapper .toolkit-container:nth-child(2) {
  transition: all 0.6s ease;
}
.top-trending .top-trending-card .toolkit-wrapper .toolkit-container:nth-child(3) {
  transition: all 0.8s ease;
}
.top-trending .top-trending-card .toolkit-wrapper .toolkit-container .toolkit-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #ECECEC;
  transition: all 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
}
.top-trending .top-trending-card .toolkit-wrapper .toolkit-container .toolkit-btn:hover {
  background-color: #016839;
}
.top-trending .top-trending-card:hover .toolkit-container:nth-child(1),
.top-trending .top-trending-card:hover .toolkit-container:nth-child(2),
.top-trending .top-trending-card:hover .toolkit-container:nth-child(3) {
  opacity: 1;
  transform: translateY(0px);
}
.top-trending .top-trending-card:hover .top-trending-img:nth-child(1) {
  opacity: 0;
}
.top-trending .top-trending-card:hover .top-trending-img:nth-child(2) {
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .top-trending .top-trending-card {
    min-height: 300px;
    gap: 5px;
  }
  .top-trending .top-trending-card .top-trending-images {
    min-height: 200px;
  }
  .top-trending .top-trending-card .top-trending-images .top-trending-img {
    width: 70%;
    left: 10%;
  }
  .top-trending .top-trending-card .toolkit-wrapper {
    justify-content: start;
    bottom: 2rem;
    left: 1rem;
  }
  .top-trending .top-trending-card .toolkit-wrapper .toolkit-container:nth-child(1) {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .top-trending {
    padding: 0 10px;
  }
}
@media screen and (max-width: 880px) {
  .top-trending {
    justify-items: center;
  }
  .top-trending_content {
    grid-template-columns: 1fr;
  }
  .top-trending .detox-juice-bg-img {
    width: 50%;
  }
  .top-trending .detox-juice-img {
    top: 30%;
    width: 40%;
    left: 20%;
  }
}
@media screen and (max-width: 500px) {
  .top-trending .detox-juice-bg-img {
    width: 80%;
  }
  .top-trending .detox-juice-img {
    top: 40%;
    width: 60%;
    left: 20%;
  }
}

.testimonial-section {
  margin-bottom: 40rem;
}

.video-section {
  position: relative;
  height: 110vh;
  overflow: hidden;
}
.video-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.419);
  top: 0;
  left: 0;
}

.video-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.video-bg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.testimonial-wrapper {
  position: absolute;
  top: 40rem;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-card {
  width: 90%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #E0F2F2;
  padding: 40px 0;
  border-radius: 16px;
}

.testimonial-avatars img {
  border-radius: 50%;
}

.avatar {
  width: 4rem;
  height: 4rem;
  opacity: 0.6;
}

.avatar-active {
  width: 5rem;
  height: 5rem;
  opacity: 1;
}

.testimonial-arrows {
  position: absolute;
  top: 25%;
  left: -15%;
  width: 130%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  visibility: visible;
}
.testimonial-arrows .arrow {
  background: #ffffff;
  transition: all 0.3s ease-out;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  padding: 0 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.testimonial-arrows .arrow.arrow-left {
  transform: rotate(90deg);
}
.testimonial-arrows .arrow.arrow-right {
  transform: rotate(-90deg);
}
.testimonial-arrows .arrow .line {
  width: 1px;
  height: 1rem;
  display: inline-block;
  background-color: #000000;
  transition: all 0.4s ease-in-out;
}
.testimonial-arrows .arrow .line.line-1 {
  transform: rotate(45deg);
  margin-bottom: -5px;
}
.testimonial-arrows .arrow .line.line-2 {
  transform: rotate(-45deg);
  margin-left: -12px;
  margin-top: 4px;
}
.testimonial-arrows .arrow:hover {
  background-color: #016839;
  cursor: pointer;
}
.testimonial-arrows .arrow:hover .line-1 {
  transform: rotate(20deg);
  margin-right: 6px;
  margin-top: -3px;
}
.testimonial-arrows .arrow:hover .line-2 {
  transform: rotate(-20deg);
  margin-top: 2px;
}
@media screen and (max-width: 500px) {
  .testimonial-arrows {
    position: absolute;
    top: 25%;
    left: -38%;
    width: 180%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    visibility: visible;
  }
}

.footer-section {
  margin-top: 10rem;
  background-color: #0A0F19;
}
.footer-section .subscribe-box {
  position: relative;
  width: 90%;
  top: -120px;
  background: #00512B;
  padding: 40px;
  border-radius: 20px;
  min-height: 230px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-section .subscribe-box .subscribe-inner {
  width: 100%;
  justify-content: space-between;
}
.footer-section .subscribe-box .subscribe-inner .subscribe-arrow {
  width: 80px;
}
.footer-section .subscribe-box .subscribe-inner .subscribe-input {
  width: 50%;
  border: 0.5px solid #016839;
  position: relative;
}
.footer-section .subscribe-box .subscribe-inner .subscribe-input input {
  height: 50px;
  padding-left: 20px;
  color: white;
  font-size: 14px;
  background-color: #00512B;
}
.footer-section .subscribe-box .subscribe-inner .subscribe-input input::-moz-placeholder {
  color: white;
}
.footer-section .subscribe-box .subscribe-inner .subscribe-input input::placeholder {
  color: white;
}
.footer-section .subscribe-box .subscribe-inner .subscribe-input input:focus {
  outline: none !important;
  border: 0;
  background-color: #072E1A;
}
.footer-section .subscribe-box .subscribe-inner .subscribe-input:focus-within {
  border: 0;
  background-color: #072E1A;
}
.footer-section .subscribe-box .subscribe-inner .subscribe-input .subscribe-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 40px;
  background-color: #016839;
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
}
.footer-section .footer-content .footer-logo {
  width: 180px;
}
.footer-section .footer-content .footer-contact p {
  margin: 0;
}
.footer-section .footer-content .footer-social .social-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}
.footer-section .footer-content .footer-social .social-icon:hover {
  background-color: #016839;
}
.footer-section .footer-content .footer-title {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-section .footer-content .footer-links {
  list-style: none;
  padding: 0;
}
.footer-section .footer-content .footer-links li {
  color: white;
  opacity: 0.8;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
}
.footer-section .footer-bottom {
  padding: 20px 0;
  margin-top: 40px;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.8px solid gray;
}
.footer-section .footer-bottom .bank-card-logo-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
}
.footer-section .footer-bottom .bank-card-logo-wrapper .bank-card-logo-container {
  width: 40px;
  height: 40px;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 100%;
  cursor: pointer;
}
.footer-section .footer-bottom .bank-card-logo-wrapper .bank-card-logo-container .bank-card-logo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.footer-section .footer-bottom .bank-card-logo-wrapper .bank-card-logo-container:hover {
  scale: 1.1;
}

@media (max-width: 992px) {
  .footer-section .subscribe-inner {
    flex-direction: column;
  }
  .footer-section .subscribe-input {
    width: 100% !important;
  }
}
@media (max-width: 767px) {
  .footer-bottom {
    margin-top: 40px;
    margin-bottom: 90px;
  }
}
@media (max-width: 500px) {
  .footer-section .subscribe-box {
    padding: 10px;
  }
}/*# sourceMappingURL=custom.css.map */