.discount,
.sold-out {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 30px;
}

.discount {
    background-color: $green-150;
    gap: 10px;
}

.sold-out {
    background-color: $green-400;
    justify-content: center;
    color: $white;
    font-size: 10px;
}