@mixin text($size) {
    color: $black-500;
    font-size: $size;
}

.text {
    @include text(12px);
    line-height: 1.5rem;
}

.nav-text {
    &.active {
        color: $green-200 !important;
    }
    font-weight: 500;
    font-size: 13px;
}
.md-bold-text{
@include text(.9rem);
font-weight:400;
transition: color .3s ease;
&:hover{
    color: $green-500;
}
}
.sm-bold-title {
    font-size: 1rem;
    color: $black;
}